Options All -Indexes

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.currency.superkalo.com [NC]
RewriteRule ^(.*)$ http://currency.superkalo.com/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ http://currency.superkalo.com/ [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ http://currency.superkalo.com/ [R=301,L]

ErrorDocument 404 http://superkalo.com/404